:host{
display: block;
height: 100vh;
background-color: black;

}
img {
  position: absolute;
  top: -0.88px;
  opacity: 1;
  object-fit: cover;
  width:49%;
  height:100%;

}
.contenedor{
 background-color: black;
}



h1 {
  color: #f9d700;
}

a {
  color: #f9d700;
  font-size: 24px;
}
p,
label {
  color: white;
  font-size: 16px;
}
.input-login {
  background-color: transparent;
  color: white;
}
::-ms-reveal {
  filter: invert(100%);
}

::placeholder {
  color: white;
  opacity: 0.5;
}
.button-global {
  background-color: #f9d700;
  font-weight: 500;
  color: white;
  font-size: 24px;
  border-radius: 8px;
}
