<app-nav />

  <form class="container">
    <img class="img" src="cerrar.png" />
    <div>
      <h2 class="f-password">
        Hola (nombre de usuario)! te ayudaremos a reestablecer tu contraseña
      </h2>
    </div>

    <div class="flex flex-column gap-2">
      <label class="white-writing" for="password">Nueva contraseña</label>
      <p-password placeholder="Nueva contraseña" [toggleMask]="true" />
    </div>

    <div class="flex flex-column gap-2">
      <label class="white-writing" for="password">Confirmar contraseña</label>
      <p-password placeholder="Confirmar contraseña" [toggleMask]="true" />
    </div>

    <div>
      <button class="btn-global">
        <span> Aceptar </span>
      </button>
    </div>
  </form>
