/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
.nav {
  background-color: #f9d700;
}

.white-writing {
  color: #ffffff;
  width: 548px;
  height: 54px;
}


.button-global {
  background-color: #f9d700;
  font-weight: 500;
  color: white;
  font-size: 24px;
  border-radius: 8px;
}

.btn-global {
  width: 548px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  gap: 32px;

  padding: 16px;
  background-color: #f9d700;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
